/* Importing the font for this page */
@font-face {
  font-family: "homefont";
  src: url("Cairo.ttf");
}

/* Setting the margin div's height so the video/text can be positioned where I want it to be*/
.margindiv {
  height: 100px;
}

/* Setting up the wrapper div's properties (relatively positioned, 100% width, etc. */
.wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
}

/* The video takes up 100% of the wrapper div's width */
.wrapper video {
  width: 100%;
}

/* The SVG file is absolutely positioned, takes up the whole wrapper div's height and width, etc. */
.wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* The text is written in the imported font and has a specific font weight and size */
.wrapper svg text {
  font-family: "homefont";
  font-weight: 900;
  font-size: 23px;
}

/* Settings for the wrapper's SVG and rectangles (to make the effect work) */
.wrapper svg > rect {
  -webkit-mask: url(#mask);
  mask: url(#mask);
}

.wrapper svg {
  opacity: 1;
}
.wrapper svg rect {
  fill: white;
}

/* Setting the background color white to match the mask color (so the page is uniform) */
body {
  margin: 60px 50px 0;
  background-color: white;
}

/* Setting up the properties of the space/element before and after the wrapper element (color, size, positioning, etc.) */
.wrapper:before, .wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  width: 10px;
  height: 100%;
  background-color: white;
}
.wrapper:before {
  left: -9px;
}
.wrapper:after {
  right: -10px;
}

/* Media Queries! */
@media only screen and (min-width: 700px) and (max-width: 1090px) {
  .margindiv {
    height: 150px;
  }

  }

@media only screen and (min-width: 200px) and (max-width: 699px) {
  .margindiv {
    height: 180px;
  }

  }