/*Importing the main stylesheet*/
@import "main.css";

/* Importing one of the fonts*/
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');


/* The article containing the page's contents' properties (width, height, padding, how it floats) */
article {
	width: 100%;
	height: 100%;
	float: left;
	padding-left: 10px;
}


/* Positioning the wrapper to position the rest of the elements on the page */
.wrapperdiv {
	width: 1200px;
	margin-left: 20%;

}

/* The container that houses the email form's properties */
.emaildiv {
	width: 600px;
	height: 735px;
	margin-right: 10px;
	background-color: black;
	float: left;
	display: inline-block;
}

/* Text properties of above container */
.emaildiv h2 {
	font-family: "graffiti";
	font-size: 60px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	color: #FFC72C;
}



/* Making sure all the elements within the footer display inline next to each other. */
footer p {
	display: inline;
}


/* Making the social media links within the footer white insdie of blue. */
footer a {
	color: white;
}



