/*Importing the main stylesheet*/
@import "main.css";

/*Importing one of the fonts*/
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');


/* The article containing the content's properties (width, height, padding, how it floats*/
article {
	width: 100%;
	height: 100%;
	float: left;
	padding-left: 10px;
}

article div {
	height: 100vh;
}




/* Making sure all the elements within the footer display inline next to each other. */
footer p {
	display: inline;
}



/* Making the social media links within the footer white insdie of blue. */
footer a {
	color: white;
}

/* Resizing the photo to fit the container it's in. */
div img {
	width: 800px;
	height: 700px;
}

/* Setting the properties for the header text. */
div h1 {
	font-family: "graffiti";
	color: #FFC72C;
	font-size: 110px;
	text-align: center;
}

/* Positioning the wrapper div to make sure the contents of the page are positioned correctly. */
.wrapperdiv {
	width: 1700px;
	height: 735px;
	margin-left: 5px;
}

/* Paragraph text properties */
.rectanglediv h3 {
	font-size: 24px;
	font-family: "Permanent Marker";
	font-weight: 100;
	color: #C91919;
	margin-left: 7px;
	margin-right: 7px;
}

/* Image container properties */
.bigsquarediv {
	width: 800px; 
	height: 700px;
	background-color: black;
	margin: 10px;
	display: inline-block;
	float: left;
}

/* Text container properties */
.rectanglediv {
	width: 800px;
	height: 340px;
	background-color: black;
	margin: 10px;
	display: inline-block;
	float: left;
}

/* When the user hovers over the image, it turns black and white */
.bigsquarediv img:hover {
	filter: grayscale(100);
	transition: all 0.4s;
}

/* When the user hovers over the text in either rectangle, it swaps colors */
.rectanglediv h1:hover {
	color: #C91919;
	transition: all 0.4s;
}

.rectanglediv h3:hover {
	color: #FFC72C;
	transition: all 0.4s;
}

/* Tablet Size */
		@media only screen and (min-width: 768px) and (max-width: 1024px) {
			body {
				width: 100%;
				height: 100%;
			}

			.wrapperdiv{
				width: 100%;
				height: 100%;
			}

			article {
				height: 1494px;
			}

			.bigsquarediv, 
			.rectanglediv {
				display: block;
				float: none;
				margin-left: 8%;
			}

			.bigsquarediv, 
			.rectanglediv {
				margin-top: 10px;
				margin-bottom: 10px;
			}


			.rectanglediv h1 {
				margin-top: 30px;
				padding-top: 90px;
			}

			.rectanglediv h3 {
				padding-top: 5px;
			}

		}

/*Mobile*/

@media only screen and (max-width: 500px) {

			body {
				width: 100%;
			}

			.clearfix {
				width: 100%;
			}

			.wrapperdiv {
				width: 100%;
				margin-left:0;
			}
			
        }

}


